{% extends 'base.html' %}

{% block content %}
<h1>{{ domain }} Subdomain Control!</h1>
<img src="{{ user._json.avatar_url }}" alt=""><p>Welcome back <a href="{{ user.profileUrl }}" target="_BLANK">{{ user.username }}</a> ( {{ user.displayName }} )</p>
<form action="/subdomain" method="post" id="addForm">
<table id="addSubdomainHolder">
    <tr>
        <th>Domain</th>
        <th>Direction Type</th>
        <th>Destination</th>
        <th>Add</th>
    </tr>
    <tr>
    <td> <input type="text" name="subdomain" id="subdomain" placeholder="subdomain"> . <select name="domain" id="domain">
        {% for domain in enabledDomains %}
            <option value="{{domain}}">{{domain}}</option>
        {% endfor %}
        </select> </td>
    <td> <select name="subdomaintype" id="subdomaintype">
            <option value="A">to IP ('A record')</option>
            <option value="CNAME">to Host ('CNAME record')</option>
            <option value="URL301">complete redirect ('301 redirect')</option>
        </select> </td>
    <td> <input type="text" name="dest" id="dest" placeholder="0.0.0.0"> </td>
    <td> <button id="addButton" type="button" class="btn btn-primary">Add</button> </td>
</tr>
</table>
</form>

<table id="HolderTable" class="tablesorter">
    <thead>
    <tr>
        <th>Domain</th>
        <th>Direction Type</th>
        <th>Destination</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr id="loadingRow"> <td colspan="4" align="center"> Communicating with Namecheap <br /> <img src="/media/images/loading.gif" alt="Loading..." /> </td> </tr>
    <!--<tr>
        <td> viafoundry.com </td>
        <td> to IP ('A record') </td>
        <td> 0.0.0.0 </td>
        <td> <button type="button" class="btn btn-danger">Delete</button> </td>
    </tr>
    <tr class="odd">
        <td> viafoundry.com </td>
        <td> to IP ('A record') </td>
        <td> 0.0.0.0 </td>
        <td> <button type="button" class="btn btn-danger">Delete</button> </td>
    </tr>
    -->
    </tbody>
</table>

{% endblock %}
